@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;
	font-size:18px;
	color:#5a5a5a;
	font-family:'Opensans Regular', sans-serif;
}
@font-face {
    font-family: 'Opensans Light';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans Regular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans Semibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans Bold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

input['type=text'], input['type=email'], input['type=tel'] {outline:none !important;}

h1,h2,h3,h4,h5,h6{
	font-family:'Opensans Regular', sans-serif; color:#5a5a5a;
}
hr { display:inline-block; width:100%;}

h1 { font-size:38px; }
h2 { font-size:32px; }
h3 { font-size:26px; }
h4 { font-size:22px; }
h5 { font-size:18px; }
h6 { font-size:16px; }
ul { list-style-type:none; }
ul, ol { padding:0px; }
p { font-size:15px; padding:0px 0px 15px; line-height:21px; color:#676767; margin:0px; }
a:hover { text-decoration:none; color:#5a5a5a; }
button { border:none; } 
/*
===============================================================================================================
03. STRUCTURE
=============================================================================================================== */
.container { max-width:1170px; width:100%; }
.container-header, .container-1860 { max-width:1890px; width:100%; }
.container-1280 { max-width:1280px; width:100%; }
.orange-text { color:#f37021; }
.dary-gray-text { color:#5a5a5a; }
.text-left{ text-align:left !important;}



.center-align { float:none !important; margin-left:auto; margin-right:auto; }
strong { font-family:'Opensans Regular', sans-serif;}
.pad-lr-0 { padding-left:0px !important; padding-right:0px !important; }
.pad-lt-0 { padding-left:0px !important; }
.pad-rt-0 { padding-right:0px !important; }
.pad-top-0 { padding-top:0px !important; }
.pad-bot-0 { padding-bottom:0px !important; }
.mar-top-0 { margin-top:0px !important; }
.mar-top-70 { margin-top:70px; }
.mar-top-10 { margin-top:10px; }
.mar-bot-0 { margin-bottom:0px !important; }
.mar-bot-10 { margin-bottom:10px !important; }
.mar-bot-5 { margin-bottom:5px !important; }
.mar-bot-15 { margin-bottom:15px !important; }
.mar-bot-20 { margin-bottom:20px; }
.mar-bot-30 { margin-bottom:30px; }
.mar-bot-50 { margin-bottom:50px; }
.mar-bot-80 { margin-bottom:80px; }



/* Headers
--------------------------------------------------------------------------------------------------------------- */
.logo { margin:15px 0px 0px; }
.fixed-header { height:54px; }
.header { background-color:#fff;  position:fixed; top:0px; width:100%; z-index:999; }
.navbar-default { background:none; border:none; }
.navbar-nav { float:none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background:none; text-decoration:underline; }
.navbar-default .navbar-nav > li > a { font-size:15px; color:#5a5a5a; padding:15px 15px 18px 15px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  { color:#5a5a5a; text-decoration:underline; } 
.navbar { margin:0px; }



.header-orange-btn { background:#f15922 !important; border:1px solid #d64c1a; color:#fff !important; padding:10px 25px 10px 27px !important;   }
.header-orange-btn:hover { background:#f15922 !important; border:1px solid #f15922 !important;  } 
.container-header .btn-default { font-size:15px; color:#5a5a5a; padding:10px 20px; margin:6px 15px 0px 0px; }
.container-header .btn-default:hover { background:#f15922; color:#fff !important; border:1px solid #d64c1a; } 
a.signin-text { color:#5a5a5a; font-size:15px; }
a:hover.signin-text { color:#f15922;  }

/* Slides backgrounds
--------------------------------------------------------------------------------------------------------------- */
.carousel-inner .item { height:450px; }
.banner-cont { position:absolute; top:0px; width:100%; }
.banner-cont h1 { color:#fff; margin:20px 0px 42px; }
.banner-cont input { height:51px; background:#fff; border:none; font-size:15px; color:#9e9e9e; padding:0px 20px; /*width:79%;*/ width:441px; border-radius:2px 0px 0px 2px; float:left; }
.search-btn { background:#66c3ee;  border-radius:0px 2px 2px 0px; font-size:16px; color:#fff; font-family: 'Opensans Semibold'; border:none; height:51px; /*width:20%;*/ width:118px; }
.search-btn:hover { background:#f37021;}
.banner-text { padding:88px 0px 0px 125px; }
/*#bs-carousel .carousel-indicators li { height:12px; width:12px;}
#bs-carousel .carousel-indicators li.active { height:14px; width:14px;}
*/
#bs-carousel .carousel-indicators li.active { background:#f15922; border:1px solid #f15922;}

/* Search bg
--------------------------------------------------------------------------------------------------------------- */
.search-bg { background:#f3f5f4; padding:19px 0px 23px; }
.search-bg p { color:#2a2a2a; padding:0px 0px 17px; font-size:14px; font-family: 'Opensans Semibold'; }
.dark-gray-btn { background:#656364; border:1px solid #656364; border-radius:0px; height:37px; line-height:34px; font-size:15px; color:#fff; display:inline-block; padding:0px 21px; text-align:center;}
.dark-gray-btn:hover, .dark-gray-btn:focus  { background:#f15922; color:#fff; border:1px solid #f15922; outline:none; text-decoration:none;} 

/* MAIN CONTENT
--------------------------------------------------------------------------------------------------------------- */
.white-bg { background:#fff; padding:90px 0px 110px;  }
.white-bg h2 { margin:13px 0px 48px 0px;   }
.white-bg h6 { text-transform:uppercase; font-size:15px; color:#404040; border-bottom:1px solid #d3d1d1; line-height:22px; padding:5px 0px 4px; }
.icon-bg { background:#66c3ee; border-radius:100px; width:43px; height:43px; display:inline-block; margin:0px 9px 0px 0px;  }
.list-cont { margin:20px 0px 0px; }
.list-cont h5 { font-family: 'Opensans Semibold'; color:#505050; margin:0px 0px 5px; }
.list-cont a { padding:34px 30px 10px 30px; float:left;  } 
.list-right-cont { width:82%; }
.list-cont a.active h5, .list-cont a:hover h5 { color:#f15922; }
.list-cont a.active, .list-cont a:hover { background:#f3f4f4;  }
.list-cont a.active .icon-bg, .list-cont a:hover .icon-bg { background:#f15922; }
.border-rb { border-right:1px solid #d3d1d1; border-bottom:1px solid #d3d1d1; }
.border-bot { border-bottom:0px !important; }
.border-rt { border-right:0px !important; }

.gray-bg { background:#f3f4f4; padding:86px 0px 83px; }
.light-gray-bg { background:#f3f5f4; padding:86px 0px 83px; }
ul.list-view { margin:33px 0px 0px; }
ul.list-view li { padding:8px 0px 0px; }
ul.list-view li a { color:#5a5a5a; font-size:16px; background:url(../img/list-icon.png) no-repeat 0px 7px; display:block; padding:0px 0px 0px 26px; } 
ul.list-view li a:hover { color:#f37021; background:url(../img/list-icon-hv.png) no-repeat 0px 7px; }

.box-img { width:200px; height:200px;  }
.box-img img { max-height:100%; max-width:100%; position:absolute; }
.box-img-caption { background:rgba(100,100,99,1); position:relative; top:141px; padding:1px 8px 4px; }
.box-img-caption h6 { margin:0px; font-family: 'Opensans Semibold'; font-size:14px; border:none; line-height:18px; padding:0px; color:#fff; text-transform:none; }
.star-icon { margin:2px 7px 0px 0px; }
.star-icon a { float:left; margin:0px 1px 0px 0px; }
.box-img-caption a { color:#fff; font-size:13px; vertical-align:top; text-decoration:underline; }
.box-img-caption a:hover { color:#f37021; }
.choose-sec { padding:0px 0px 40px; display:inline-block; }
.choose-sec .col-md-3 { width:20%; }
.more-link { font-family: 'Opensans Semibold'; border:none; color:#66c3ee; font-size:16px;  }
.orange-btn { background:#f15922; height:47px; font-size:20px; color:#fff; font-family: 'Opensans Semibold'; padding:0px 39px; line-height:47px;  }
/*.orange-btn:hover { background:#f15922; color:#fff; }*/
ul.recovery-list { padding:1px 0px 0px; }
ul.recovery-list li { display:inline-block; color:#5a5a5a; font-size:15px; }
ul.recovery-list li a { text-transform:uppercase; color:#5a5a5a; font-size:15px; padding:0px 9px 0px 0px;  }
ul.recovery-list li a:hover { color:#f37021; }
.orange-btn-mar { margin-top:34px;  } 
.Choose-pad { padding-bottom:38px !important; }
.recovery-pad { padding-bottom:88px !important; }
.orange-btn-mar.orange-btn:hover { background:#f15922; color:#fff;}



/* INNER SEARCH
--------------------------------------------------------------------------------------------------------------- */
.inner-search-bg{ background:#cdcdcd; padding:10px 0px 10px;}
.inner-search-bg .search-text { width:39.6%; }
.inner-search-bg .search-textbox { background:#fff; border:none; box-shadow:none; height:38px; line-height:38px; display:inline-block; font-size:15px;  color:#9e9e9e; padding:0px 18px; width:100%; margin:0px 0px 0px 10px;}
.inner-search-bg .search-w { width:115px; padding:0px;}
.inner-search-bg .search-btn { background:#636363; height:38px; line-height:38px; text-align:center; padding:0px 5px; display:inline-block; border-radius:0px; font-size:16px; color:#ece9e8; font-family:'Opensans Semibold', sans-serif; width:100%; margin:0px 0px 0px -5px; }
.inner-search-bg .search-btn:hover { color:#fff; background:#f37021;}

/* INNER PAGES
--------------------------------------------------------------------------------------------------------------- */
.inner-banner { width:100%; height:595px; display:block; position:relative; }
.blue-strip { background:rgba(84,216,254, 0.8); height:84px; line-height:84px; display:inline-block; padding:0px 20px; position:absolute; bottom:58px; width:100%;  }
.blue-strip h1 { font-size:36px; color:#fff; text-align:center; margin:22px 0px;  }
.inner-white-bg { background:#fff; padding:30px 0px 80px; }
.inner-white-bg p { font-size:18px; line-height:28px; color:#888485; padding:0px 0px 20px;}
.inner-orange-btn { background:#f15922; height:41px; border-radius:2px; line-height:41px; display:inline-block; width:175px; padding:0px 5px; text-align:center; font-size:18px; font-family:'Opensans Bold', sans-serif; color:#fff;}
.inner-orange-btn:hover { background:#f15922; color:#fff;}
.inner-create-btn.inner-orange-btn  {width:80%; height:55px; line-height:55px;}



.inner-banner2 { width:100%; height:500px; display:block; position:relative;}
.doctor-strip { background:rgba(84,216,254, 0.8); height:75px; line-height:75px; display:inline-block; padding:0px 20px; position:absolute; bottom:225px; width:100%; text-align:center;  }
.doctor-strip h1 { font-size:36px; color:#fff; margin:17px 0px; }
.promote-cont { padding-top:20px;}
.promote-cont h1 { font-size:34px; line-height:31px; color:#5a5a5a; margin:0px 0px 13px; font-family:'Opensans Regular'; font-weight:normal; }
.promote-cont p {font-size:18px; line-height:31px; color:#5a5a5a;}
.profile-box { background:#f2f2f2; padding:20px 30px 30px 60px; margin:10px 0px 0px;}
.profile-box h6 { color:#5a5a5a; font-size:20px; margin:0px; padding:5px 0px 18px; font-family:'Opensans Regular'; font-weight:normal; }
.profile-box .form-control { border-radius:0px; box-shadow:none; font-size:15px; color:#5a5a5a; height:37px; line-height:37px; dispaly:inline-block; padding:0px 10px; border:1px solid #dadada;}
.profile-box label { font-size:15px; color:#5a5a5a; font-weight:500; margin:0px;}
.profile-box .board-text { margin-top:-26px;}
.profile-box .profile-btn { background:#f15922; height:43px; border-radius:5px; line-height:43px; display:inline-block; width:192px;  padding:0px 5px; text-align:center; font-size:16px; color:#fff; margin:15px 0px 10px; }
.profile-box .profile-btn:hover { background:#f15922; color:#fff;} 
.profile-box p { font-size:16px; color:#5a5a5a; padding:0px;}

.learn-banner { width:100%; height:534px; display:block; position:relative;}
.learn-banner-content { position:absolute; top:347px; }
.learn-strip { background:rgba(84,216,254, 0.9); height:47px; line-height:47px; display:inline-block; padding:0px 10px;  max-width:490px; margin:0px;  }
.learn-strip h1 { font-size:24px; color:#fff; font-family:'Opensans Semibold'; font-weight:normal; margin:10px 0px; text-align:left;}
.select-condition { color:#5a5a5a; font-size:18px; height:49px; width:100%; border-radius:5px; box-shadow:none; border:none; padding:0px 30px 0px 15px; float:left; margin:30px 0px;  
	-webkit-appearance:none; -moz-appearance:none; appearance:none;  background:#fff url("../img/select-orange-arrow.png") no-repeat 100% center; }
.learn-banner .nav > li { margin:8px 0px;}
.learn-text h2 { font-size:32px; font-family:'Opensans Regular'; font-weight:normal;  color:#5a5a5a; padding:0px 0px 20px; }
.learn-text p { color:#5a5a5a; font-size:18px; line-height:21px;}
.learn-image { margin:33px 0px 35px;}
.learn-btn.inner-orange-btn { height:47px; line-height:46px;}

.cancer-type { width:100%;}
.cancer-type ul { margin:0px 0px 0px 5px; padding:0px; list-style-type:none; }
.cancer-type ul li { display:inline-block; width:160px; background:rgba(215,214,213, 0.6); border:1px solid #ffffff;  text-align:center; height:60px; line-height:60px; margin:0px 0px 0px -5px;}
.cancer-type ul li.active, .cancer-type ul li:hover { background:#f37021; color:#fff; }
.cancer-type ul li.active a, .cancer-type ul li:hover a { color:#fff;}
.cancer-type ul li a { font-size:20px; font-family:'Opensans Semibold'; color:#191919;}
.cancer-type ul li a:hover,  .cancer-type ul li a:focus {  color:#fff; outline:none; text-decoration:none;}
.learn-text .btn-default.focus, .btn-default:focus { text-decoration:none;}



.match-banner { width:100%; height:536px; display:block; position:relative;}
.match-bg { background:#f6f6f6; padding:30px 0px 80px;}
.match-bg p { font-size:18px; line-height:24px; color:#504f50; padding:0px 0px 19px;}
.blue-strip.match-strip { width:70%; left:186px;}

.answer-page label { font-size:17px; font-weight:normal; color:#959595; }
.answer-page h2 { margin:20px 0px 30px; }
.answer-page h5 { font-family:'Opensans semibold'; }
.answer-page h6 span { font-family:'Opensans semibold'; }
.answer-page h3 { font-size:24px; text-transform:uppercase; }
.answer-page h6 { font-size:17px; color:#959595; margin:16px 0px 5px; }
.answer-page textarea { height:180px; border:1px solid #cdcdcd; resize:none; width:100%; font-size:16px; color:#aaaaaa; padding:12px 8px 12px 8px; margin:0px 0px 8px;  }
.count-text { font-size:17px; color:#959595; margin:17px 0px 0px; }
.photo-box { border:2px dashed #aaaaaa; height:208px; padding:46px 0px 0px; margin:0px 0px 10px;  }
.photo-box p { color:#aaa; font-size:16px !important; padding:0px 0px 10px; }
.photo-box .inner-orange-btn { font-family:'Opensans Regular'; margin:5px 0px 0px; height:43px; }
.loc-textbox { height:39px; border:1px solid #cdcdcd; padding:0px 5px; width:233px; }
.submit-btn { font-family:'Opensans Regular'; border:none; border-radius:3px; height:49px; padding:0px 30px; margin:29px 0px 7px; }
.submit-btn:hover { background:#f15922; color:#fff;}
.answer-sidebar { padding-top:13px; }
.answer-sidebar p { padding:0px 0px 18px; color:#5a5a5a;  }
.box-img-sml { width:146px; height:146px; margin:0px 0px 7px; line-height:140px;   }
.box-img-sml img { max-width:100%; max-height:100%; margin:auto; display:inline-block; }
.box-img-sml-caption h6 { font-size:13px; margin:0px; color:#5a5a5a; line-height:19px;  }
.box-img-sml-caption a { font-size:13px; color:#5a5a5a; text-decoration:underline; } 
.box-img-sml-caption a:hover { color:#f37021; } 
.box-img-sml-caption .star-icon { margin:7px 7px 0px 0px;} 
.doctor-list { padding:44px 0px 44px; }
.doctor-list .col-md-2 { width:19.2%; }
.answer-page .select-condition { border:1px solid #e7e7e7; font-size:15px; color:#5a5a5a; background:#fff url("../img/down-arrow.png") no-repeat 93% center; height:35px; padding:0px 14px 0px 0px; margin:17px 0px 0px 12px; border-radius:2px;  }
 
.search-box-bg { background:#f3f3ef; padding:12px 2px 10px; float:left; width:100%; margin-top:20px; }
.search-box-bg [class*="col-"] { padding-left:10px; padding-right:10px;}
.search-text-box, .location-text-box { height:35px; background:#fff; border-radius:6px; font-size:15px; color:#333; border:1px solid #d5d5d5; width:100%; padding:0px 8px; }
.location-text-box { background:#fff url(../img/location-icon-s.png) no-repeat 9px center; padding-left:27px; }
.search-btn-s { background:#f37021; height:38px; line-height:normal; border-radius:6px; font-size:15px; color:#fff; font-family: 'Opensans Regular'; border:none; max-width:166px; width:100%; }
.find-doctors h4 { color:#959595; font-size:20px; line-height:32px; margin:22px 0px 5px; }
.find-doctors ul { padding:0px 10px 40px 0px; margin:0px; float:left; width:100%;}
.find-doctors ul li { padding:0px; margin:0px; color:#626262; font-size:16px; line-height:32px; }
.find-doctors ul li a { color:#626262; }
.find-doctors ul li a:hover { text-decoration:underline;}
.find-doctors-sidebar { padding-left:15px; padding-right:0px;}
.find-doctors-sidebar h3 { color:#505050; font-family:'Opensans Bold'; font-size:18px; line-height:32px; border-bottom:1px solid #eeeeed; margin-bottom:0px; }
.find-doctors-sidebar ul { padding:0px; margin:0px; }
.find-doctors-sidebar ul li { float:left; width:100%; padding:23px 0px; color:#5a5a5a; line-height:20px; border-bottom:1px solid #eeeeed;}
.doctors-list-left { width:18%; float:left; padding-left:10px;}
.doctors-list-right { width:82%; float:left; padding-left:10px; font-size:14px;}
.doctors-list-left img { margin-top:4px; }
.find-doctors-sidebar .star-icon a { margin:0px -1px 0px 0px; }
.doctors-list-right a { color:#5a5a5a; }
.txt-20 { font-size:20px; line-height:32px; color:#5a5a5a; padding-bottom:10px; }
.txt-15, .category-txt { font-size:15px; line-height:32px; color:#676767; padding-bottom:10px; }
.txt-15 a { color:#f37021; }
.txt-15 a:hover { color:#676767; }
.category-txt { color:#a7a7a7; padding-bottom:50px; }
.category-txt strong { color:#666; }
.category-txt a { color:#a7a7a7; }
.category-txt a:hover { color:#f37021; }
.require-text { color:#959595; font-size:15px; }
.diagno-select { border:1px solid #cdcdcd; font-size:17px; color:#959595; height:38px; margin:2px 0px 20px; padding:0px 0px 0px 10px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url("../img/select-arrow.png") no-repeat right center; width:100%; }
.gray-select { border:1px solid #dfdfdf; border-radius:6px; font-size:15px; color:#9e9e9e; height:38px; margin:2px 0px 12px; padding:0px 0px 0px 10px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#f0f0f0 url("../img/select-arrow-o.jpg") no-repeat right center; width:100%; }
.text-box { border:1px solid #cdcdcd; padding:0px 8px; height:38px; color:#333; width:100%; margin-bottom:20px; }

.review-page label { font-size:17px; font-weight:normal; color:#959595; }
.review-page h2 { margin-bottom:10px;}
.review-page h4 { font-size:20px; color:#5a5a5a; font-family:'Opensans Regular';  }
.review-page h5 { font-size:18px; font-family:'Opensans semibold'; line-height:32px; color:#5a5a5a; margin-bottom:5px; }
.review-page h6 span { font-family:'Opensans semibold'; }
.review-page h6 { font-size:17px; color:#959595; margin:31px 0px 5px; }
.review-page textarea { height:180px; border:1px solid #cdcdcd; resize:none; width:100%; font-size:16px; color:#aaaaaa; padding:12px 8px 12px 8px;  }
.review-page small { font-size:15px; color:#959595; line-height:31px; }
.review-page h5 small { font-size:17px; color:#5a5a5a; line-height:31px; font-family:'Opensans Regular'; }
.review-page .photo-box { height:250px; padding:26px 0px 0px; margin:0px 0px 40px; }
.review-page .photo-box img { display:inline-block; vertical-align:top; margin:10px 36px 2px; }
.review-text ul { margin:0px; padding:45px 0px 30px; width:100%; float:left;}
.review-text ul li { font-size:18px; padding:8px 0px 7px; width:100%; float:left; }
.review-text ul li a { color:#5a5a5a; }
.review-text .star-icon a { margin:0px 1px 0px 2px; }
.orange-star-l{ background:url(../img/orange-star-l.png) no-repeat 0px 0px; width:24px; height:22px; display:block;  }
.gray-star-l{ background:url(../img/gray-star-l.png) no-repeat 0px 0px; width:24px; height:22px; display:block;  }
.checkbox-text { padding:0px 0px 0px 10px; float:left; width:90%; font-size:15px; line-height:21px; color:#5a5a5a; }
 
.reset-page h1 { font-size:34px; color:#5a5a5a; padding-bottom:32px;}
.reset-page h6 { font-size:15px; color:#5a5a5a; font-weight:500; padding-bottom:5px; }
.reset-page .textbox { height:35px; line-height:35px; border:1px solid #d5d5d5; border-radius:5px; padding:0px 0px 0px 8px; font-size:15px; color:#5a5a5a; width:265px;}
.reset-page .orange-btn.submit-btn {  height:38px; line-height:38px; font-weight:bold; border-radius:4px; display:inline-block;}

.share-page h2 { margin:20px 0px 8px;}
.share-page h6 {  color:#5a5a5a; font-size:20px; margin:14px 0px 15px;}
.share-page p { font-size:15px; color:#959595; padding-bottom:7px;}
.share-page .diagnosis-text { color:#5a5a5a;  margin-bottom:11px; font-weight:600;}
.share-page .select-condition { border:1px solid #cdcdcd; font-size:15px; color:#9c9c9c; background:#fff url("../img/select-arrow.png") no-repeat 100% center; height:38px; padding:0px 14px 0px 8px; margin:0px 0px 22px; border-radius:0px;  }
.share-page .select-condition option { /*border-right:1px solid #000; */font-size:17px; color:#3a3a3a; }
.share-page.answer-page label { margin-bottom:6px;}
.share-page.answer-page textarea { height:333px; padding:8px 8px; color:#959595; margin:0px;}
.share-page .text-small, .review-page .text-small { color:#959595; font-size:14px;}
.share-page .text-box.text { background:#fff url("../img/calender-icon.png") no-repeat 94% center; }
.share-page .text-box { color:#959595;   }
.share-page .photo-box { height:248px;}
.share-page small { font-weight:normal; color:#656565;  font-family:'Opensans Regular'; font-size:17px; }
.share-page .photo-box { height:250px; padding:26px 0px 0px; margin:0px 0px 40px; }
.share-page .photo-box img { display:inline-block; vertical-align:top; margin:10px 36px 2px; }


/* PROFILE PAGES
--------------------------------------------------------------------------------------------------------------- */
.profile-bg { background:#90cbd3; overflow:hidden; width:100%; }
.profile-header { background:none; padding:12px 0px 15px; position:relative; margin:0px; }
.profile-box-bg { background:#efefef; position:relative; padding:80px 30px 180px; margin:0px 0px 30px; float:left; width:100%; color:#636363; font-size:52px; line-height:66px; font-family:'Opensans Regular', sans-serif;
	box-shadow:0px 0px 10px 2px #cfd7d9; -moz-box-shadow:0px 0px 10px 2px #cfd7d9; -webkit-box-shadow:0px 0px 10px 2px #cfd7d9; -ms-box-shadow:0px 0px 10px 2px #cfd7d9; }
.profile-box-bg h1 { color:#1b1b1b; font-size:38px; font-family:'Opensans Regular', sans-serif; line-height:50px; padding:0px 0px 0px; margin:0px 0px 20px 30px; }
.profile-box-bg h3 { color:#1b1b1b; font-size:30px; font-family:'Opensans Regular', sans-serif; line-height:50px; padding:0px 0px 30px; margin:0px 0px 0px 50px; }
.profile-box-bg h2 { color:#1b1b1b; font-size:32px; line-height:47px; padding:25px 0px 30px; margin:0px; font-family:'Opensans Regular', sans-serif; }
.blue-btn { font-size:24px; color:#d3fcff; height:62px; line-height:62px; text-transform:capitalize; display:inline-block; vertical-align:top; border-radius:3px; padding:0px 20px; margin:5px 0px 10px; font-family:'Opensans Semibold', sans-serif; 
	border:1px solid #5bbbeb; background: #5bbbeb;
	background: -moz-linear-gradient(top, #6fc9ee 0%, #5bbbeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fc9ee), color-stop(100%,#5bbbeb));
	background: -webkit-linear-gradient(top, #6fc9ee 0%,#5bbbeb 100%);
	background: -o-linear-gradient(top, #6fc9ee 0%,#5bbbeb 100%);
	background: -ms-linear-gradient(top, #6fc9ee 0%,#5bbbeb 100%);
	background: linear-gradient(to bottom, #6fc9ee 0%,#5bbbeb 100%);
}
.blue-btn:hover { color:#1b1b1b; background: #fff; border:1px solid #d7d7d7; }

.back-link { color:#1b1b1b; font-size:24px; position:absolute; bottom:8px; left:10px; font-size:24px; font-family:'Opensans bold', sans-serif; display:inline-block; line-height:20px; }
.back-link:hover { color:#f15922; }
.back-arrow { background:url(../img/back-arrow.png) no-repeat 0px 0px; width:17px ; height:18px; display:inline-block; vertical-align:top; margin:2px 8px 0px 0px; }
a:hover .back-arrow { background:url(../img/back-arrow-hv.png) no-repeat 0px 0px; }
.profile-box-bg .pad-top { padding:100px 0px 0px;}
.welcome-text { font-size:15px; font-family:'Opensans Bold', sans-serif; color:#f15922; text-align:center; line-height:21px; margin-top:-8px; }
.welcome-text .img-responsive { margin:2px auto 0px;}
.profile-logo { margin:49px 0px 0px;}
.btn-group .blue-btn { width:210px; border-radius:0px;}
.btn-group .blue-btn.active, .btn:active { background:#fff; border:1px solid #d7d7d7; box-shadow:none; color:#1b1b1b;}
.profile-wrapper { overflow:hidden;}
.profile-wrapper img { background-position:center top;background-size:cover; }
.profile-black-bg { background:rgba(0,0,0,0.78); position:absolute; top:0px; left:0px; width:100%; min-height:1132px; }
.profile-black-pad { padding:20px 0px 30px; }
.profile-black-bg h1 { color:#fff; font-family:'Opensans Semibold', sans-serif;  font-size:44px; line-height:66px; padding:10px 0px 35px;}
.profile-black-bg p { color:#fff; font-family:'Opensans Light', sans-serif;  font-size:26px; line-height:55px; padding-bottom:30px;}
.profile-box-bg  p { font-size:18px; font-family:'Opensans Regular', sans-serif; text-align:center; line-height:26px; color:#1b1b1b; padding:0px 0px 25px; }
.profile-box-bg ol { padding:0px 0px 0px 22px; }
.profile-box-bg ol li {  color:#1b1b1b; font-size:18px; font-family:'Opensans Regular', sans-serif; line-height:30px; margin-bottom:10px; text-align:left;  }
.profile-select { border:1px solid #cccccc; border-radius:5px; font-size:17px; color:#c3c3c3; height:38px; margin:2px 0px 5px; padding:0px 0px 0px 10px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url("../img/select-arrow.png") no-repeat right center; width:100%; }
.text-box.text-box-r { border-radius:5px; font-size:18px; color:#c3c3c3;}
.profile-box-bg .add-acc { font-size:20px; font-family:'Opensans Semibold', sans-serif; color:#1b1b1b; }
.profile-box-bg .find-text { font-size:22px; text-align:center;}
.agree-btn.blue-btn { width:82%;}
.permit-text p { font-size:20px; font-family:'Opensans Semibold', sans-serif; text-align:center; padding:0px 0px 15px;}
.icon-box-top { margin:-60px 0 50px;}
.upload-photo-btn { background:#fff; width:100%; border:1px solid #cecece; color:#f07182; margin:0px 0px 36px; }
.upload-photo-btn:hover { background:#f0f0f0; color:#f07182; }
.profile-box-bg .human-text { text-align:center; line-height:32px;}
.skip-text { font-size:24px; line-height:20px; color:#1b1b1b; position:absolute; bottom:12px; right:20px; text-decoration:underline; font-family:'Opensans Semibold', sans-serif; }
.textarea { height:400px; width:100%; color:#1b1b1b; border:2px solid #d7d7d7; font-size:18px; border-radius:5px; padding:10px 30px 0px 15px; float:left; margin:25px auto; line-height:42px; }
.profile-box-bg .textbox { height:50px; width:100%; color:#1b1b1b; border:2px solid #d7d7d7; font-size:18px; border-radius:5px; padding:0px 30px 0px 15px; float:left; margin:25px auto; }

.box-content2 { width:173px; display:inline-block; margin:15px 10px; }
.box-content2-bg { height:178px; padding:0px 15px; width:100%; background:#67c4f0; margin:0px; font-size:24px; line-height:30px; color:#fff; box-shadow:0px 0px 2px 1px #bebebe; -moz-box-shadow:0px 0px 2px 1px #bebebe; -webkit-box-shadow:0px 0px 2px 1px #bebebe; -ms-box-shadow:0px 0px 2px 1px #bebebe; }
.box-content2-bg:hover, .box-content2-bg.active { color:#595959; background:#fff;  }
.box-content2-bg h3 { display:table; text-align:center; width:100%; height:178px; padding:0px; margin:0px; font-size:20px; line-height:30px; color:#fff; }
.box-content2-bg:hover h3, .box-content2-bg.active h3 { color:#1b1b1b;  font-weight:500;}
.box-content2-bg h3 span { display:table-cell; vertical-align:middle; }

.dob-box { padding:20px 0px 20px; display:inline-block; width:100%; margin:15px 0px 0px;}
.dob-box ul { margin:0px; padding:0px; list-style:none; }
.dob-box ul li { margin:0px; padding:0px; float:left; width:8.333%; color:#606060; font-size:24px; }
.dob-box ul li a { height:42px; line-height:36px; border:1px solid #c8c8c8; color:#606060; width:100%; float:left; }
.select { color:#727272; font-size:24px; height:50px; width:246px; border-radius:5px; padding:0px 30px 0px 15px; float:left; margin-bottom:20px; 
	-webkit-appearance:none; -moz-appearance:none; appearance:none; border:2px solid #d7d7d7; background:#fff url("../img/select-1.png") no-repeat 100% center; 
}
.p-blue-text { color:#67c4f0; font-size:32px; margin:30px 0px 10px; display:inline-block; }
.p-pink-text { color:#ff5656; font-size:32px; margin:30px 0px 10px; display:inline-block; }
.select-condition { color:#5a5a5a; font-size:18px; height:42px; width:100%; border-radius:5px; box-shadow:0px 0px 2px #ccc; border:1px solid #e1e1e1; padding:0px 30px 0px 15px; float:left; margin:30px 0px;  
	-webkit-appearance:none; -moz-appearance:none; appearance:none;  background:#fff url("../img/select-arrow.png") no-repeat 100% center; }
.profile-box-bg .textbox.text-box1 { height:42px; width:100%; color:#1b1b1b; border:2px solid #d7d7d7; font-size:18px; border-radius:5px; padding:0px 30px 0px 15px; float:left; margin:25px auto; }
.list-content {padding:15px 0px; float:left; width:100%;}
.list-content ul { margin:0px; padding:0px; list-style:none; }
.list-content ul li { margin:15px 0px; float:left; width:100%; min-height:60px; line-height:36px; padding:0px 10px; background:#65c2ee; color:#fff; border:2px solid #dbdbdb; }
.list-content ul li a { margin:0px; padding:10px 0px; color:#fff; float:left; text-align:left; width:100%; font-size:24px; font-family:'Opensans Regular', sans-serif; }
.list-content ul li:hover, .list-content ul li.active { background:#fff; color:#1b1b1b; }
.list-content ul li:hover a, .list-content ul li.active a { color:#1b1b1b; }
.multiple-text { font-size:18px; color:#333 !important; text-align:center !important; font-family:'Opensans Light', sans-serif !important;}
.white-bor-box { background:#fff; border-radius:20px; height:41px; line-height:41px; display:block; margin:0px 0px 30px;}
.pink-box { background:#fe5a59; border-radius:20px; height:41px; color:#fff; text-align:right;	 }

.orange-view-btn { font-size:24px; color:#d3fcff; height:62px; line-height:62px; text-transform:capitalize; display:inline-block; vertical-align:top; border-radius:3px; padding:0px 20px; margin:5px 0px 10px; font-family:'Opensans Regular', sans-serif; 
	border:1px solid #f0661d; background: #f0661d;
	background: -moz-linear-gradient(top, #f0661d 0%, #ec5119 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0661d), color-stop(100%,#ec5119));
	background: -webkit-linear-gradient(top, #f0661d 0%,#ec5119 100%);
	background: -o-linear-gradient(top, #f0661d 0%,#ec5119 100%);
	background: -ms-linear-gradient(top, #f0661d 0%,#ec5119 100%);
	background: linear-gradient(to bottom, #f0661d 0%,#ec5119 100%); }
.orange-view-btn:hover { background:#fff; color:#1b1b1b; border:none;}
.profile-box-bg .note-text { line-height:40px;}
.list-content.content ul li a  { font-size:18px;}
.log-icon-sml { background:url(../img/log-icon-sml.png) no-repeat 0px 0px; width:16px; height:19px; display:inline-block; vertical-align:top; margin:12px 15px 0px 0px; } 
.security-cont { padding:0px 0px 0px 0px; width:380px;}
.security-cont h5{ font-size:22px; color:#1b1b1b;}
.security-cont input[type="radio"] { vertical-align:top; opacity:1; width:auto; margin:7px 0px 0px 0px;}
.box-cont1 input[type="checkbox"], input[type="radio"] { margin:0 10px 0 0;}
.card-img { margin:0px 10px 0px 3px;}
.card-img a { float:left;}
.security-cont img { vertical-align:top; margin:0px 2px;}
.security-cont label { font-size:16px; line-height:18px; display:block; font-weight:500;   }
.security-cont input[type="text"], .security-cont select { border-radius:0px; height:34px; font-size:14px; border:1px solid #ccc; width:100%; display:block; padding:0px 5px; margin:0px 0px 15px;   }
.divider-line { border:1px solid #a7a7a7;}
.payment-box { width:360px;}
.profile-box-bg .credit-text { font-size:18px; color:#5b5b5b; line-height:27px;}
.upload-text { font-size:26px; color:#1b1b1b; line-height:34px;}
.box-content3 { width:100%; border:3px solid #e1e1e1; background:#f4f4f4; border-radius:3px; margin:50px 0px; padding:30px 0px 50px; }
.box-content3 h3 { font-size:30px; }
.box-content3 p { font-size:20px; }
.box-cont-text p { padding:25px 0px 0px 45px !important; text-decoration:underline;s}
.profile-box-bg h5 { font-size:22px; line-height:24px; color:#1b1b1b; font-family:"Opensans Regular",sans-serif; }
.profile-box-bg .doc-text { line-height:40px; text-align:center;}
.darkorange-text { color:#ff5462;}
.submit-btn.blue-btn { width:200px;}




/* POPUP
--------------------------------------------------------------------------------------------------------------- */
.modal-backdrop { top:54px; }
.modal-dialog { width:385px; margin:114px auto 30px; }
.modal-body { padding:2px 30px 39px; }
.modal-content { border-radius:0px; }
.modal-content small { font-size:13px; } 
.modal-content small a { color:#5a5a5a; text-decoration:underline; }
.modal-content small a:hover { color:#f37021; }
.modal-content h1 { font-size:29px; font-family:'Opensans semibold'; color:#5a5a5a; margin:0px 0px 12px; }
.modal-content h6 { line-height:20px; padding:7px 0px 0px; margin:0px; }
.modal-content .textbox { height:34px; border:1px solid #d7d7d7; font-size:15px; color:#959595; padding:0px 10px; width:100%; margin:15px 0px 5px; }
.modal-content .orange-btn { border:none; border-radius:2px; font-family:'Opensans Regular'; width:100%; margin:19px 0px 34px;  } 
.modal-content button.close { background:url(../img/close-icon.png) no-repeat 0px 0px; width:29px; height:29px; display:block; right:-12px; top:-15px; position:relative; opacity:1;  }
.modal-backdrop.in { opacity:0.8; }
.join-now-btn { margin:35px 0px 11px !important;  }
.modal-open .navbar-nav > li:last-child { padding-right:17px;  } 
.modal-open .navbar-collapse  { margin-left:-4px; }

.already-text { font-size:15px; color:#5a5a5a; text-align:center; margin:6px 0px 0px; }
.already-text:after { background: #959595; content: ""; display: block; height: 1px; right: 30px; position: absolute;  width: 16%; bottom:47px; }
.already-text:before { background: #959595; content: ""; display: block; height: 1px; position: absolute;  width: 16%; bottom:47px; }

.coming-soon-popup .modal-content .textbox { margin:0px 0 5px; height:33px; line-height:33px; font-size:16px; color:#adaead;}
.coming-soon-popup .modal-body { padding:0px 17px 30px;}
.coming-soon-popup .modal-body h6 { font-size:16px; color:#5a5a5a; font-family:'Opensans Bold'; padding-bottom:18px;}
.coming-soon-popup .modal-body p { font-size:16px; color:#5a5a5a;}
.coming-soon-popup .modal-content .orange-btn { margin:0px 10px 0px; height:33px; line-height:33px; padding:0px; font-size:18px; font-family:'Opensans semibold';}



/* Radio button
--------------------------------------------------------------------------------------------------------------- */
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -39px;
  line-height  : 1.5em;
}
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 12px;
  height           : 12px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           :1px solid #5f5f5f;
  border-radius    :100px;
  background       : #fff;
  vertical-align   : bottom;
}
input[type=radio   ]:not(old):checked + label > span{ background:#fff; }
input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 6px;
  height           : 6px;
  margin           : 2px 0px 0px 2px;
  border-radius    : 100px;
  background       : #f15922;
}



input[type=checkbox]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
input[type=checkbox]:not(old) + label {
  display      : inline-block;
  margin-left  : 0em;
  line-height  : 1.5em;
  border:none;
  font-weight:normal;
  text-align:left;
}
input[type=checkbox]:not(old) + label > span {
  display          : inline-block;
  width            : 1.1em;
  height           : 1.1em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(189,189,189);
  border-radius    : 0em;
  background:#fff;
  vertical-align   : bottom;
  border:1px solid #bdbdbd;
}
input[type=checkbox]:not(old):checked + label > span { background:#fff; border:1px solid #bdbdbd; }
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '\2713';
  display     : block;
  width       : 1em;
  color       :#f65f28;
  font-size   : 1em;
  line-height : 1em;
  text-align  : center;
  font-weight : bold;
}


/* ICONS
--------------------------------------------------------------------------------------------------------------- */
.fa-angle-right { font-size:20px !important; vertical-align:top; margin:7px 0px 0px 5px; }
.fb-icon { background:url(../img/fb-icon.png) no-repeat 0px 0px; width:32px; height:32px; display:block; }
.twitter-icon { background:url(../img/twitter-icon.png) no-repeat 0px 0px; width:32px; height:32px; display:block; }
.pinterest-icon { background:url(../img/pinterest-icon.png) no-repeat 0px 0px; width:32px; height:32px; display:block; }
.linkedin-icon { background:url(../img/linkedin-icon.png) no-repeat 0px 0px; width:32px; height:32px; display:block; }
.learn-icon { background:url(../img/learn-icon.png) no-repeat 0px 0px; width:31px; height:34px; display:block; margin:5px auto 0px; }
.discover-icon{ background:url(../img/discover-icon.png) no-repeat 0px 0px; width:37px; height:33px; display:block; margin:10px auto 0px; }
.connect-icon{ background:url(../img/connect-icon.png) no-repeat 0px 0px; width:32px; height:26px; display:block; margin:9px auto 0px; }
.answer-icon{ background:url(../img/answer-icon.png) no-repeat 0px 0px; width:18px; height:31px; display:block; margin:6px auto 0px; }
.story-icon{ background:url(../img/story-icon.png) no-repeat 0px 0px; width:17px; height:26px; display:block; margin:9px auto 0px; }
.write-icon{ background:url(../img/write-icon.png) no-repeat 0px 0px; width:26px; height:26px; display:block; margin:9px auto 0px; }
.orange-star{ background:url(../img/orange-star.png) no-repeat 0px 0px; width:14px; height:12px; display:block;  }
.gray-star{ background:url(../img/gray-star.png) no-repeat 0px 0px; width:14px; height:12px; display:block;  }
.log-icon{ background:url(../img/log-icon.png) no-repeat 0px 0px; width:10px; height:14px; display:inline-block; margin:4px 9px 0px 0px; vertical-align:top; }
.blue-arrow{ background:url(../img/blue-arrow.png) no-repeat 0px 0px; width:14px; height:10px; display:inline-block; margin-left:11px; }
a:hover .blue-arrow{ background:url(../img/blue-arrow-hv.png) no-repeat 0px 0px; }
.orange-star-sml{ background:url(../img/orange-star-sml.png) no-repeat 0px 0px; width:12px; height:12px; display:block;  }
.gray-star-sml{ background:url(../img/gray-star-sml.png) no-repeat 0px 0px; width:12px; height:12px; display:block;  }


/* Footer
--------------------------------------------------------------------------------------------------------------- */
.pre-footer { background:#fff; border-top:5px solid #cecdcd; padding:38px 0px 20px; }
.pre-footer h6 { text-transform:uppercase; font-family: 'Opensans Semibold'; }
.pre-footer ul { padding:9px 0px 10px; }
.pre-footer ul li { line-height:18px; padding:6px 0px; }
.pre-footer ul li a { font-size:14px; color:#585757; }
.pre-footer ul li a:hover { color:#f15922; }
.footer-bg { background:#ededed; padding:29px 0px 20px; }
.footer-bg p { font-size:12px; line-height:17px; color:#5a5a5a;}
.social-icons { margin:23px 0px 13px; }
.social-icons a { display:inline-block; margin:0px 8px 0px 7px;}


 @media only screen and (min-width:1920px){
.profile-bg { padding:0px 0px 320px; }

}

 @media only screen and (min-width:991px) and (max-width:1024px){
 .profile-bg { padding:0px 0px 75px; }
 .navbar-default .navbar-nav > li > a { padding:15px 8px 18px;}
 .container-header .btn-default { margin:6px 7px 0px 0px;}
 .blue-strip { width:94%;}
 .blue-strip h1 { font-size:35px;}
 .inner-search-bg .search-text { width:52%;}
 .t-pad-lr { padding-left:0px; padding-right:0px; }
.t-pad-rt { padding-right:0px;}

 
 
 }
 
 
@media only screen and (min-width:768px) and (max-width:991px){

.t-pad-lr { padding-left:0px; padding-right:0px; }
.t-pad-rt { padding-right:0px;}
.t-pad-lt { padding-left:0px;}

.profile-bg { padding:0px 0px 345px; }

.navbar { margin-left:-10px; margin-right:-10px }
.navbar-header { float:right;}
.m-navbar-header.navbar-header .navbar-toggle { margin-right:20px;}
.navbar #home-nav { margin-top:18px; width:100%; }
.navbar-default .navbar-nav > li > a { padding:15px 12px 18px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border:none;}


.banner-text { padding:100px 0px 0px 75px;}
.banner-cont h1 { margin:20px 0px 12px;}
.white-bg { padding:30px 0px 50px;}
.t-find-text { height:59px; overflow:hidden;}
.t-bottom-bot a { padding-bottom:32px; }
.t-bottom-bot { border-bottom:1px solid #d3d1d1 !important;}
.border-rt { border-right:1px solid #d3d1d1 !important;}
.last-box a { padding-bottom:32px; } 
.last-box  { border-right:1px solid #d3d1d1; } 
.tborder-lt { border-left:1px solid #d3d1d1;}
.t-browse-cont { margin:30px 0px 0px; } 
.list-view { margin:0px 0px 0px 35px;}
.choose-sec .col-md-3 { width:33%;}
.mar-top { margin-top:30px;} 

.inner-search-bg .search-text { width:47%; }
.blue-strip, .doctor-strip { width:92%; height:75px; line-height:75px;}
.blue-strip h1 { font-size:25px; margin:23px 0px;}
.doctor-strip h1  { font-size:24px; margin:22px 0px;}
.blue-strip.match-strip { left:84px; width:78%;}
.match-bg p { line-height:32px;}
.learn-banner-content { top:287px;}
.cancer-type ul li { width:141px;}
.learn-text p { line-height:24px;}
.inner-white-bg h2 { font-size:31px;}
.find-doctors-sidebar h3 { line-height:25px;}
.doctor-list {padding:20px 0px 0px;}
.doctor-list .col-md-2 { width:33.2%;}
.t-doctor-pad { margin-top:25px;}
.share-page h6 { foont-size:18px; line-height:25px;} 

.profile-box-bg h3 { font-size:23px; line-height:36px;  } 
.agree-btn.blue-btn { width:100%;}
.box-content2 { display:inline-block; margin:15px 10px; width:166px;}
.box-content2-bg h3  { font-size:22px;}
.orange-view-btn { font-size:21px;}
.blue-btn { font-size:20px;}
.upload-text { margin-left:30px;} 
.box-cont-text p { padding:0px 0px 35px !important;} 
 
 
 
 
 }
 
 @media only screen and (max-width:767px){
.t-pad-lr { padding-left:0px; padding-right:0px; }
.t-pad-rt { padding-right:0px;}
.m-pad-lr { padding-left:0px; padding-right:0px; }
.m-pad-rt { padding-right:0px; }
.m-pad-lt { padding-left:0px;  }

.navbar-default .navbar-nav > li > a { padding:10px 15px 5px;}
.inner-search-bg .search-text { width:62.2%;}

.banner-text { padding:0px;}
.banner-cont h1 { margin-bottom:10px; font-size:31px;}
.banner-cont input { width:100%;}
.search-btn { width:100%; margin-top:10px;}
.m-search { margin-top:25px;}
.m-search .search-bg p { padding:0px 0px 10px;}  
.white-bg { padding:30px 0px 50px;} 
.list-right-cont { width:73%;}
.list-cont a { border-bottom:1px solid #d3d1d1;}
.last-box a { border-bottom:none;} 

.profile-black-bg h1 { font-size:28px; line-height:35px; padding:0px 0px 10px;}
.profile-black-bg p { font-size:16px; line-height:28px; }
.profile-logo, .profile-box-bg h3 { margin:0px;}
.welcome-text { margin-top:-32px;} 
.profile-box-bg { line-height:35px;}
.profile-box-bg .pad-top { padding:25px 0px 0px;}
.profile-box-bg { padding:40px 20px 120px;}
.profile-box-bg .pad-top { padding:10px 0px 0px;}
.blue-btn { font-size:16px; height:40px; line-height:40px; padding:0px 7px; width:100%;}
.profile-box-bg h3 { font-size:28px; line-height:40px;  }
.btn-group .blue-btn { display:block; float:none; margin-bottom:0px; margin-left:0px; margin-right:0px;} 
.text-box.text-box-r { margin:0px;} 
.profile-select { font-size:9px;}
.m-btn { margin-top:25px;}
.agree-btn.blue-btn { width:100%; font-size:9px;} 
.profile-box-bg h2 { font-size:26px; line-height:38px;}
.permit-text p { font-size:18px; } 
.icon-box-top { margin:-25px 0px 20px;} 
.upload-photo-btn { font-size:15px;} 
.textarea { font-size:18px; line-height:28px;} 
.profile-box-bg .textbox { padding:0px 7px 0px 15px; font-size:10px;}
.profile-box-bg h1 { margin:0px; font-size:30px; line-height:38px;} 
.dob-box ul li { font-size:9px;}
.select { width:100%; font-size:20px;} 
.p-blue-text, .p-pink-text { width:81%; font-size:18px;}
.p-blue-text img, .p-pink-text img { max-width:100%;}
.select-condition { margin:10px 0px;}
.profile-box-bg .textbox.text-box1 { margin:10px 0px;}
.list-content ul li a { font-size:16px; padding:14px 0px; line-height:22px;}
.list-content ul li { margin:10px 0px;}
.m-img-text { font-size:27px !important;}
.box-content2-bg h3 { font-size:22px; line-height:28px; }
.orange-view-btn { font-size:20px;}
.profile-black-pad .blue-btn { font-size:15px;}
.profile-black-pad p { font-size:15px !important; }
.security-cont { width:82%;}
.profile-box-bg h5 { font-size:16px;}
.payment-box { width:237px; margin:0px 0px 0px -30px;}

.security-cont label { margin-top:20px;}
.submit-btn.blue-btn { width:170px;}
.upload-text { font-size:18px; line-height:34px; text-align:center;}
.box-cont-text p { padding:0px 0px 25px 0px !important}
.box-content3 .blue-btn { margin:0px; width:94%;}







}

 
 @media only screen and (max-width:320px){
 
 .profile-black-bg h1 { font-size:32px; }
 .profile-black-bg p { font-size:18px;  }
 .profile-box-bg h3 { font-size:20px; line-height:30px;}
 .profile-box-bg h2 { font-size:20px; line-height:32px;}
 .permit-text p { font-size:15px;}
 
 }


/* profile pages*/
.img-border{
	border: 2px solid #000;
}

.selectedLabels{
	cursor:pointer;
	font-size: 25px;
	width:100%;
	padding: 10px 0 5px;
}
.span_link{
	color: #636363 !important;
    font-family: "Opensans Regular",sans-serif; font-size: 19px !important; padding-top: 10px;
	position: absolute; margin-left: -65px;
    margin-top: -48px;
}
.span_1{
	margin-left: 50px;
	padding-top: 0px;
}
.span_link:HOVER{
	color: #ff7170 !important;
}
.span_link:FOCUS, .span_link:VISITED, .span_link:HOVER{
	outline-style: none !important;
	text-decoration: none !important;
}


.content-list input[type=checkbox]:not(old) + label {
  display      : inline-block;
  margin-left  : 0;
  line-height  : 1.5em;
  border:none;
  font-weight:normal;
  text-align:left;
}
		
.multiple-box  input[type=checkbox]:not(old) + label {
  
  margin-left  : 0; }
 
.selectedLabels.img-border { border:2px solid #000;}
.border .selectedLabels{ padding:0px;}
.box-cont-width .box-content2 { width:166px;}
.content-left input[type="checkbox"]:not(old) + label { margin-left:0px; text-align:left;}
.box-content2 a:HOVER, .box-content2 a:VISITED, .box-content2 a:FOCUS { outline-style: none; text-decoration: none; }
.list-content ul li a:HOVER, .list-content ul li a:FOCUS, .list-content ul li a:VISITED { outline-style: none; text-decoration: none; }
	








